<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g.theholybible">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/bible_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.write_pop"
            android:theme="@style/CustomTheme"></activity>
        <activity
            android:name=".activities.Bible"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="Search"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="Search Results"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".activities.ChapterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".providers.BibleProvider"
            android:authorities="com.g.theholybible.bibleprovider" />

    </application>

</manifest>